# Data

datasets/

# Results
results/**
!results/**/*.txt

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

#Jupiter checkpoints
.ipynb_checkpoints/

#VS Code
.vscode/

# OS
.DS_Store

# XAI
XAI_tools_auto/