# Data
datasets/*
!datasets/raw/
!datasets/preprocessed/
datasets/raw/*
!datasets/raw/.gitkeep
datasets/preprocessed/*
!datasets/preprocessed/.gitkeep

# Results
results/**
!results/**/*.txt

!results/best params logs/
results/best params logs/*
!results/best params logs/.gitkeep

!results/k-fold dist logs/
results/k-fold dist logs/*
!results/k-fold dist logs/.gitkeep

!results/metrics/
results/metrics/*
!results/metrics/.gitkeep

!results/predictions/
results/predictions/*
!results/predictions/.gitkeep

!results/topomaps/
results/topomaps/*
!results/topomaps/.gitkeep

!results/training and inference time logs/
results/training and inference time logs/*
!results/training and inference time logs/.gitkeep

!results/tsne plots/
results/tsne plots/*
!results/tsne plots/.gitkeep

!results/weights/
results/weights/*
!results/weights/.gitkeep

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

#Jupiter checkpoints
.ipynb_checkpoints/

#VS Code
.vscode/

# OS
.DS_Store

### Ignore the files and directories which are not related to the benchmarking

# XAI
XAI_tools_auto/**

#Clustering related
clustering_results/**
clustering_utils/**
clustering_script.py
cross_dataset_clustering.py
plot_masking_curves.py
run_clustering_all.sh
run_advsftdvshc.log
run_clustering_all.log
run_geneeg.log
run_mcivsHC.log
clustering_script.py
clustering_utils/
cross_dataset_clustering.py
run_clustering_all.sh
